<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{{ page.title }}</title>
		<meta name="Keywords" content="iOS开发、安卓开发、H5开发、web开发，微信端开发,深圳APP、网站定制开发，深圳UI交互设计,软件开发，互联网金融，大数据，资产管理，财富管理，跨境财富" />
		<meta name="Description" content="深圳华诚软件科技有限公司为您提供iOS开发、安卓开发、H5开发、web开发，微信端开发,深圳APP、网站定制开发，深圳UI交互设计,软件开发，互联网金融，大数据，资产管理，财富管理，跨境财富等开发服务，我们的宗旨是做好每一个产品，为客户提供方便快捷高质量的服务" />
		<meta name="CopyRight" content="深圳华诚软件科技有限公司版权所有" />
		<meta name="author" content="深圳华诚软件科技有限公司" />
		<link rel="stylesheet" href="/css/index.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="/css/rest.css" type="text/css" media="screen, projection" />
	</head>
	<body>

		{{ content }}

	</body>
</html>